.messageWrapper {
    display: flex;
    width: 550px;
    align-items: flex-end;
    margin: 20px;
    perspective: 2000px;
}
.avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    animation: avatarRotating 5s ease infinite;
    z-index: 1;
}
.message {
    margin-left: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .2) 50%,  rgba(255, 255, 255, .3) 70%, rgba(255, 255, 255, .1) 100%);
    border-radius: 20px 20px 20px 0;
    width: calc(100% - 50px);
    color: #4a5c98;
    padding: 25px 55px 25px 15px;
    position: relative;
    font-style: italic;
}
.message::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    border: 10px solid transparent;
    border-right-color: rgba(255, 255, 255, .2);
    border-bottom-color: rgba(255, 255, 255, .2);
}
.message::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 30px;
    left: -32px;
    bottom: 2px;
    background-color: #73cdff;
    border-radius: 50%;
}
.time {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-style: normal;
}
.name {
    font-size: 25px;
    color: #fff;
    font-style: normal;
}

@keyframes avatarRotating {
    from {
        transform: rotateY(0)
    }
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(360deg);
    }

    75% {
        transform: rotateY(540deg);
    }
    to {
        transform: rotateY(720deg);
    }
}