.wrapper {
    border-radius: 20px;
    width: 50%;
    overflow: hidden;
}

.buttonsWrapper {
    display: flex;
}

.buttonsWrapper button {
    width: 25%;
    height: 50px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.allBtn {
    background-color: rgba(58, 153, 78, .7);
}

.highBtn {
    background-color: rgba(153, 58, 58, .7);
}

.middleBtn {
    background-color: rgba(153, 96, 58, .7);
}

.lowBtn {
    background-color: rgba(153, 151, 58, .7);
}

.buttonsWrapper button {
    position: relative;
    overflow: hidden;
}

.buttonsWrapper button::after {
    content: "";
    width: 400%;
    height: 200px;
    position: absolute;
    left: -400%;
    top: -50px;
    background: linear-gradient(160deg, rgba(2, 0, 36, 0) 20%, rgba(255, 255, 255, .2) 50%, rgba(0, 212, 255, 0) 80%);
}

.buttonsWrapper button:hover::after {
    transform: translateX(300%);
    transition: all 1s linear;
}
