.default {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
}

.default:hover {
    opacity: .9;
}

.red {
    background: rgba(153, 58, 58, .7);
    color: #fff;
}