body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #73cdff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    outline: none;
    box-sizing: border-box;
}

section {
    padding: 150px 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section:nth-child(2n) {
    background-color: #89d4ff;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #89d4ff;
}
body::-webkit-scrollbar-thumb {
    background-color: #2d3751;
    border-radius: 10px;
}